.container{
   width:700px;
   height: 500px;
    border-radius:25px;  
}
img{
    
    padding-top: 30px;
}

.about{
    color: aliceblue;
    margin-top:50px;
    margin-left: 20px;
    
    
}
body{
    background-image: url("/assets/images/home.jpg");
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}